<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>
<hr>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<p class="mt-3"><%= link_to raw('<i class="fas fa-undo-alt"></i> back to cocktails'), root_path, class: 'btn btn-light'  %></p>
