<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<hr>
<p class="text-center"><%= @cocktail.name.downcase.capitalize %></p>
<div class="row justify-content-center">
  <% unless @cocktail[:photo].nil? %>
    <div class="col-md-6 mb-3">
      <div class="card bg-dark text-white">
        <%= cl_image_tag @cocktail.photo, height: 300, crop: :lfill, class: "card-img" %>
        <div class="card-img-overlay">
          <h5><%= capitalize_first_letter(@cocktail.name) %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>
<p class="mt-3"><%= link_to raw('<i class="fas fa-plus"></i> add new dose'), new_cocktail_dose_path(@cocktail), class: 'btn btn-light' %></p>
<% if @doses.size.positive? %>
<ul class="list-unstyled">
  <% @doses.each do |dose| %>
    <% cocktail = Cocktail.find(dose.cocktail_id) %>
    <% ingredient = Ingredient.find(dose.ingredient_id) %>
    <li><%= dose.description %> (<%= cocktail.name %>, <%= ingredient.name.downcase.capitalize %>) <%= link_to raw('<i class="far fa-trash-alt"></i>'), dose_path(dose), method: :delete %></li>
  <% end %>
</ul>
<% end %>
<hr>
<p class="mt-3"><%= link_to raw('<i class="fas fa-undo-alt"></i> back to cocktails'), root_path, class: 'btn btn-light'  %></p>

