<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>
<hr>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description, placeholder: '6cl' %>
  <%= f.association :ingredient %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<p class="mt-3"><%= link_to raw('<i class="fas fa-undo-alt"></i> back to cocktails'), cocktail_path(@cocktail), class: 'btn btn-light'  %></p>
